<nav class="nav flex-column">
  <a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
  <form action="/generate-more" method="post" class="nav-link" onsubmit="showLoadingTM()">
    <input type="hidden" name="subject_id" value="<%= subject_id %>">
    <button type="submit" class="btn btn-link p-0"><i class="fa fa-refresh"></i> Generate TM</button>
  </form>
  <button id="newSummaryButton" class="nav-link btn btn-link p-0" onclick="generateSummary('<%= subject_id %>')"><i class="fa fa-file"></i> New Summary</button>
  <% if (summary) { %>
    <button class="nav-link btn btn-link p-0" onclick="viewSummary('<%= subject_id %>')"><i class="fa fa-eye"></i> View Summary</button>
  <% } %>
</nav>
