<div class="modal fade" id="savingIndicator" tabindex="-1" aria-labelledby="savingIndicatorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="savingIndicatorLabel">Saving</h5>
      </div>
      <div class="modal-body">
        Saving, please wait...
      </div>
    </div>
  </div>
</div>
